* {
    box-sizing: border-box;
}
.container {
    margin-left: 10px;
}
.page_head {
    background-color: white;
    text-align: center;
    padding: 17px;
    font-family: "Press Start 2p", cursive;
}
h1 {
    font-size: 50px;
    color: black;
}
.header_p {
    text-align: right;
    padding-right: 15rem;
    color: black;
    font-family: "Coda", cursive;
}
body {
    background-color: white;
    margin: 0;
    font-family: "Coda", cursive;
    padding: 10px;
    max-width: 100%;
}
.nav_bar {
    background-color: #ddd;
    border: solid white;
    height: 3.9rem;
    width: 80.45rem;
    margin-left: -25px;
    margin-right:-20px;
}
.nav_list {
    display: flex;
    color: #404040;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
}
.ul-home {
    border-right: 2px solid #bbb;
    padding: 10px;
    flex: 2 2 auto;
    text-align: center;
}
.ul-home:hover {
    background-color: white;
    color: black;
    transform: scaleY(1.2);
    margin-top: -7.3px;
    margin-left: -10px;
    margin-bottom: -12px;
}
.ul-keyboard-mouse {
    border-right: 2px solid #bbb;
    padding: 10px;
    flex: 2 2 auto;
    text-align: center;
}
.ul-keyboard-mouse:hover {
    background-color: white;
    color: black;
    transform: scaleY(1.2);
    margin-top: -7.3px;
    margin-bottom: -12px;
}
.ul-chair-desk {
    border-right: 2px solid #bbb;
    padding: 10px;
    flex: 2 2 auto;
    text-align: center;
}
.ul-chair-desk:hover {
    background-color: white;
    color: black;
    transform: scaleY(1.2);
    margin-top: -7.3px;
    margin-bottom: -12px;
}
.ul-computer-monitor {
    padding: 10px;
    flex: 2 2 auto;
    text-align: center;
}
.ul-computer-monitor:hover {
    background-color: white;
    color: black;
    transform: scaleY(1.2);
    margin-top: -7.3px;
    margin-right: -10px;
    margin-bottom: -12px;
}
.new-product-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 3fr;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #bbb;
}
.keyboard_h3 {
    border: solid black;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
}
.new_keyboard_img {
    width: 31rem;
    height: 10rem;
    padding-left: 2rem;
}
.new-monitor {
    margin-left: 95px;
}
.new_monitor_img {
    width: 15rem;
    height: 10rem;
    
}
.monitor_h3 {
    text-align: center;
    border: solid black;
    padding-right: 20px;
    padding-left: 20px;
}
.about {
    padding-bottom: 20px;
    border-bottom: 2px solid #bbb;
}
.page_foot {
    text-align: center;
    background-color: #bbb;
    padding: 10px;
    width: 80.95rem;
    margin-left: -25px;
    margin-right:-30px;
    margin-bottom: -25px;
    background-size: cover;
}
a:link {
    color: black;
    text-decoration: none;
}
